#container {
    background-color: #343434;
    color: #ececec;
    border-radius: 3px;
    padding: 25px;
    margin-top: 20px;
}

#taskList {
    border: 0!important;
}

#taskList li {
    padding-top: 4px;
    padding-bottom: 4px;
}